/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */




@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"); */

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Text size adjustment fix */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Manrope", sans-serif;
  background-color: black;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  
}

/* Optional container max width */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Gradient text utility */
.text-gradient {
  background-image: linear-gradient(to right, #ffffff, #528aeb, #0b59e1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.containert {
  background-image: linear-gradient(to right, #383838, #4b4a4a, #232323);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* Custom select option */
select option {
  background-color: black;
  color: white;
}

/* Gradient line */
.gradient-line {
  background: linear-gradient(to right, #131313, #030507, #0a0909);
}

/* Shadow utility */
.custom-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Reset button styles */
button {
  border-radius: 0;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  -webkit-appearance: none;
  appearance: none;
}

/* Rotated image */
.rotated-image {
  transform: rotate(99deg);
}
html {
  scroll-behavior: smooth;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* makes it white */
  cursor: pointer;
}
